@import url("https://p.typekit.net/p.css?s=1&k=cai4dda&ht=tk&f=39695&a=79024274&app=typekit&e=css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Montserrat:wght@600;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 45px 67px;
  background-color: #105624;
  
}

h1 {
  font-family: 'Trade Gothic Next LT Pro';
  font-size: 56px;
  text-transform: uppercase;
  color: #EDE7DC;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  color: #EDE7DC;
  // font-weight: 800;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  color: #EDE7DC;
}

p {
  font-family: 'Cormorant';
  color: #EDE7DC;
}

.grid-item{
  border: 2px solid #EDE7DC;
}

.testimonials {
  color: #EDE7DC;
  font-family: 'Montserrat', sans-serif;
}

.grid-container {
  background-color: #105624;
}

.grid-parent {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.title { 
  grid-area: 1 / 1 / 3 / 10; 
  padding: 40px 0 30px 50px;

  p {
    margin-bottom: 15px;
  }

  h1 {
    max-width: 560px;
  }
}
.index { 
  grid-area: 1 / 10 / 2 / 13; 
  display: flex;
  justify-content: center;
  align-items: center;

}
.arrows { grid-area: 2 / 10 / 3 / 13; }
.image { grid-area: 3 / 1 / 7 / 6; }

.description { 
  grid-area: 3 / 6 / 7 / 13; 

  .subtitle {
    padding: 43px 0 54px 67px;

    h2 {
      max-width: 531px;
    }
  }
  
  .client-name {
    display: flex;
    
  }



}