@import url("https://p.typekit.net/p.css?s=1&k=cai4dda&ht=tk&f=39695&a=79024274&app=typekit&e=css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Montserrat:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.not-active {
  display: none;
}

body {
  background-color: #105624;
}

/*body {
  padding: 45px 67px;
  background-color: #105624;
  
}
*/
h1 {
  font-family: 'Trade Gothic Next LT Pro';
  font-size: 56px;
  text-transform: uppercase;
  color: #EDE7DC;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  color: #EDE7DC;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  color: #EDE7DC;
}

blockquote {
  font-family: 'Cormorant';
  color: #EDE7DC;
  max-width: 600px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.img-not-active {
  display: none;
}

.grid-parent {
  border: 2px solid #EDE7DC;
  margin: 10px;
  padding: 10px;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  border-bottom: 2px solid #EDE7DC;
}

.main-title p {
  color: #EDE7DC;
  font-family: 'Montserrat', sans-serif;
  margin: 30px 0 20px 0;
}

.main-title h1 {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.index {
  display: none;
}

.dynamic-content {
  border-bottom: 2px solid #EDE7DC;
}

.dynamic-content h2.client-thought {
  max-width: 300px;
  text-align: center;
  margin: 20px auto;
}

.dynamic-content .user-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dynamic-content .user-store div > h3 {
  font-size: 16px;
}

.dynamic-content .user-store div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  border-top: 2px solid #EDE7DC;
  border-bottom: 2px solid #EDE7DC;
}

.dynamic-content .user-store div:nth-child(1) {
  border-right: 2px solid #EDE7DC;
}

.description {
  max-width: 600px;
  margin-right: 20px;
}

.glider {
  padding: 30px 10px;
  max-width: 700px;
}

.glider-prev, .glider-next {
  background-color: white;
  position: static !important;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  margin: 40px auto;
}

.button-container button {
  font-size: 24px;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
  }
  .main-title p {
    font-size: 20px;
  }
  .main-title h1 {
    font-size: 36px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .dynamic-content {
    border-bottom: 2px solid #EDE7DC;
  }
  .dynamic-content h2.client-thought {
    font-size: 32px;
    max-width: 600px;
  }
  .dynamic-content blockquote {
    font-size: 32px;
    max-width: 700px;
    padding: 0 10px;
  }
  .dynamic-content .user-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dynamic-content .user-store div > h3 {
    font-size: 24px;
  }
  .dynamic-content .user-store div {
    padding: 45px 0;
  }
  .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 300px;
    margin: 40px auto;
  }
  .button-container button {
    font-size: 32px;
  }
}

@media only screen and (min-width: 992px) {
  .img-not-active {
    display: inline;
    margin: 15px 0 0 10px;
  }
  .hidden {
    display: none;
  }
  .arrows {
    display: -ms-grid;
    display: grid;
  }
  .grid-parent {
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid #EDE7DC;
    padding: 0;
  }
  .main-title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-area: 1 / 1 / 3 / 10;
    padding: 40px 0 30px 50px;
    border-bottom: 2px solid #EDE7DC;
    border-right: 2px solid #EDE7DC;
  }
  .main-title p {
    margin-bottom: 15px;
  }
  .main-title h1 {
    max-width: 560px;
  }
  .index {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-area: 1 / 10 / 2 / 13;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #EDE7DC;
  }
  .arrows {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-area: 2 / 10 / 3 / 13;
    border-bottom: 2px solid #EDE7DC;
  }
  .arrows .button-container {
    margin: 0 auto;
    width: 200px;
  }
  .illustration {
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: 3 / 1 / 7 / 6;
    border-right: 2px solid #EDE7DC;
  }
  .illustration img {
    max-width: 100%;
    max-height: 100%;
  }
  .dynamic-content {
    -ms-grid-row: 3;
    -ms-grid-row-span: 4;
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-area: 3 / 6 / 7 / 13;
    border-bottom: none;
  }
  .dynamic-content .client-thought {
    text-align: start !important;
  }
  .dynamic-content .client-thought h2 {
    max-width: 531px;
  }
  .dynamic-content .user-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dynamic-content .user-store div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 0;
  }
  .dynamic-content .user-store div:nth-child(1) {
    border-right: 2px solid #EDE7DC;
  }
  .dynamic-content .description {
    margin: 10px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */